.footer
  .footer__top
    .footer__info
      a(href='https://craftwork.design/')
        img(src='/public/logo_footer.svg' alt='craftwork')
      |         High-quality digital resources which make your design workflow faster and easier
    .footer__menu
      .footer__menu__item
        .footer__title
          | Craftwork
        ul
          li
            a.link(href='https://craftwork.design/pro-access/' target='_blank') Pro access
          li
            a.link(href='https://craftwork.design/store/' target='_blank') Store
          li
            a.link(href='https://craftwork.design/blog/' target='_blank') Blog
          li
            a.link(href='https://craftwork.design/login/' target='_blank') Account
      .footer__menu__item
        .footer__title
          | Products
        ul
          li
            a.link(href='https://storytale.io/' target='_blank') Storytale
          li
            a.link(href='https://craftwork.design/ui-kits/' target='_blank') UX/UI Systems
          li
            a.link(href='https://craftwork.design/templates/' target='_blank') Templates
          li
            a.link(href='https://craftwork.design/mockups/' target='_blank') Mockups
          li
            a.link(href='https://craftwork.design/freebies/' target='_blank') Freebies
      .footer__menu__item
        .footer__title
          | Company
        ul
          li
            a.link(href='#') News
          li
            a.link(href='https://craftwork.design/about-us/' target='_blank') About
          li
            a.link(href='https://craftwork.design/license/' target='_blank') License
          li
            a.link(href='https://craftwork.design/privacy-policy/' target='_blank') Privacy policy
          li
            a.link(href='https://craftwork.design/contacts/' target='_blank') Contact us
          li
            a.link(href='https://craftwork.design/help/' target='_blank') Help
      .footer__menu__item
        .footer__title
          | Social
        ul
          li
            a.link(href='https://dribbble.com/Craftwork' target='_blank') Dribbble
          li
            a.link(href='https://www.instagram.com/getcraftwork/' target='_blank') Instagram
          li
            a.link(href='https://twitter.com/GetCraftwork' target='_blank') Twitter
          li
            a.link(href='https://www.behance.net/getcraftwork' target='_blank') Behance
          li
            a.link(href='https://www.producthunt.com/@shepovalovdenis/made' target='_blank') Producthunt
  .footer__bottom
    | Copyright &copy; 2015-2020 craftwork.design
