head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Deca Kit
  link(rel='preload' href='/public/fonts/DMSans-Regular.ttf' as='font' type='font/ttf' crossorigin='anonymous')
  link(rel='preload' href='/public/fonts/DMSans-Medium.ttf' as='font' type='font/ttf' crossorigin='anonymous')
  link(rel='preload' href='/public/fonts/DMSans-Bold.ttf' as='font' type='font/ttf' crossorigin='anonymous')

  include favicons
  include meta-tags
