//- Open Graph / Facebook
meta(property='og:type ' content='website')
meta(property='og:url ' content='https://deca.craftwork.design')
meta(property='og:title ' content='')
meta(property='og:site_name' content='Free Deca UI Kit')
meta(property='og:title ' content='Free Deca UI Kit')
meta(property='og:description' content='Clean and clear UI Kit with all necessary stuff to create design projects. The simplest way to work with buttons, charts, inputs, and popups.')
meta(property='og:image' content='public/OpenGraph.png')
//- Open Graph / Facebook
//- Twitter
meta(property='twitter:card ' content='summary_large_image')
meta(property='twitter:type ' content='website')
meta(property='twitter:url ' content='https://deca.craftwork.design')
meta(property='twitter:site_name' content='Free Deca UI Kit')
meta(property='twitter:title ' content='Free Deca UI Kit')
meta(property='twitter:description' content='Clean and clear UI Kit with all necessary stuff to create design projects. The simplest way to work with buttons, charts, inputs, and popups.')
meta(property='twitter:image' content='public/OpenGraph.png')
//- Twitter
